@model JobPortal.Models.Job

@{
    ViewBag.Title = "EditJob";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <center>
        <div class="box-Register">
            <div class="form-horizontal">
                <div class="section-heading">
                    <span>Edit job details</span>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.C_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.C_Name, new { htmlAttributes = new { @class = "form-controls" } })
                        @Html.ValidationMessageFor(model => model.C_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.J_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.J_Name, new { htmlAttributes = new { @class = "form-controls" } })
                        @Html.ValidationMessageFor(model => model.J_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.J_Field, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.J_Field, new { htmlAttributes = new { @class = "form-controls" } })
                        @Html.ValidationMessageFor(model => model.J_Field, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Vacancy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Vacancy, new { htmlAttributes = new { @class = "form-controls" } })
                        @Html.ValidationMessageFor(model => model.Vacancy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-controls" } })
                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Locaion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Locaion, new { htmlAttributes = new { @class = "form-controls" } })
                        @Html.ValidationMessageFor(model => model.Locaion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.J_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.J_Description, new { htmlAttributes = new { @class = "form-controls" } })
                        @Html.ValidationMessageFor(model => model.J_Description, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="s-button" />
                    </div>
                </div>
            </div>
        </div>
    </center>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
