@model IEnumerable<JobPortal.Models.Job>

@{
    ViewBag.Title = "GetJobDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<center>
    <div class="box-Details">
        <div class="section-heading">
            <span>Job details</span>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.C_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.J_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.J_Field)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vacancy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.J_Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Locaion)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.J_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.J_Field)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vacancy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.J_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locaion)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditJob", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteJob", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</center>
