

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/fontAwesome.css" rel="stylesheet" />
    <link href="~/css/hero-slider.css" rel="stylesheet" />
    <link href="~/css/owl-carousel.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
    <link href="~/css/linearicons.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Content/index.js"></script>
    <script src="~/js/vendor/bootstrap.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="~/js/vendor/npm.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/plugins.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <div>
        <div class="wrap">
            <header id="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <button id="primary-nav-button" type="button">Menu</button>
                            <a href="index.html">
                                <div class="logo">
                                    <img src="~/img/logo.png" alt="Venue Logo">
                                </div>
                            </a>
                            <nav id="primary-nav" class="dropdown cf">
                                <ul class="dropdown menu">
                                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                                    <li>@Html.ActionLink("About us", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact us ", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("Login", "Signin", "Home")</li>
                                    <li>@Html.ActionLink("Create account", "Registration", "Registration")</li>
                                </ul>
                            </nav><!-- / #primary-nav -->
                        </div>
                    </div>
                </div>
            </header>
        </div>
        @RenderBody()
    </div>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)